/* Write your CSS here */
.heading {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Roboto';
}
.button {
  background-color: #f8fafc;
  border-radius: 10px;
  border-width: 0px;
  color: #303150;
  padding: 10px;
  font-size: 14px;
}
.card {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 10px;
}
.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  min-height: 100vh;
}
